{% extends "trades/trade.html" %}

{% block title %}
Confirm Trade
{% endblock %}

{% block trade_header %}
<h2>Confirm Trade</h2>
{% endblock %}

{% block trade_form %}
	<form action="{% url 'trades:submit_trade' %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="trade_id" value="{{trade.id}}"/>
		<input type="submit" value="Confirm" class="btn btn-primary" />
	</form>
	<form action="{% url 'trades:cancel_trade' %}" method="post">
		{% csrf_token %}
			<input type="hidden" name="trade_id" value="{{trade.id}}"/>
			<input type="submit" value="Cancel" class="btn btn-default" />
	</form>
{% endblock %}