{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="md-col-6">
			<h2>{{league.name}}</h2>
			{% if msg %}
			<div class="alert alert-{{msg.message_type.bootstrap_class}}">{{msg.text}}</div>
			{% endif %}
			<table class="table">
				{% for team in league.team_set.all %}
				<tr>
					<td><a href="{% url 'trades:team' team.pk %}">{{team.name}}</a></td>
					{% if request.user.manager.id == team.manager.id %}
					<td></td>
					{% else %}
					<td><a class="btn btn-primary btn-sm" href="{% url 'trades:new_trade' team.pk %}"><i class="glyphicon glyphicon-transfer"></a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-md-6 transactions">
		<h3>Pending Transactions</h3>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Team 1</th><th>Team 2</th><th>Date Accepted</th><th>View</th>
				</tr>
			</thead>
			<tbody>
				{% for t in pending_trades.all %}
					<tr>
						<td>{{t.team1}}</td>
						<td>{{t.team2}}</td>
						<td>{{t.date_accepted}}</td>
						<td>
							<a href="{% url 'trades:trade' t.id %}">
								<i class="glyphicon glyphicon-search">
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	</div>
</div>
{% endblock %}