{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h2>{{team.name}}</h2>
	<div class="row">

		<table class="table double-table table-condensed">
			<tr><th>name</th><th>position</th><th>team</th></tr>
			{% for p in team.player_set.all %}
			<tr><td>{{p.name}}</td><td>{{p.position}}</td><td>{{p.real_team}}</td></tr>
			{% endfor %}
		</table>

		<table class="table double-table table-condensed">
			<tr><th>round</th><th>year</th></tr>
			{% for p in team.pick_set.all %}
			<tr><td>{{p.round}}</td><td>{{p.year}}</td></tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
