{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1>{{heading}}</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Team 1</th>
				<th>Team 2</th>
				<th>Date Proposed</th>
				<th>Date Accepted</th>
				<th>Date Rejected</th>
				<th>Date Completed</th>
			</tr>
		</thead>
		<tbody>
			{% for trade in trades.all %}
			<tr>
				<td><a href="{% url 'trades:team' trade.team1.id %}" >{{trade.team1.name}}</a></td>
				<td><a href="{% url 'trades:team' trade.team2.id %}" >{{trade.team2.name}}</a></td>
				<td>{{trade.proposed_date}}</td>
				<td>{{trade.accepted_date}}</td>
				<td>{{trade.rejected_date}}</td>
				<td>{{trade.completed_date}}</td>
				<td><a href="{% url 'trades:trade' trade.pk %}"><i class="glyphicon glyphicon-search"></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}