{% extends "base.html" %}
{% load url from future %}

{% block content %}
	<div class="container">
		<div class="row">
			{% if error_msg %}
				<div class="alert alert-danger">{{error_msg}}</div>
			{% endif %}
			{% if success_msg %}
				<div class="alert alert-success">{{success_msg}}</div>
			{% endif %}
			{% if info_msg %}
				<div class="alert alert-info">{{info_msg}}</div>
			{% endif %}
		</div>
		<table class="table">
			<thead><th>Team</th><th>League</th></thead>
			<tbody>
				{% for team in teams %}
				<tr>
					<td>
						<a href="{% url 'trades:team' team.id %}">
							{{team.name}}
						</a>
					</td>
					<td>
						<a href="{% url 'trades:league' team.league.id %}">
							{{team.league.name}}
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="row">
			<a href="{% url 'account:new_league' %}">Create a New League</a>
		</div>
	</div>
{% endblock %}