{% extends "base.html" %}
{% load url from future %}

{% block content %}
	<div class="container">
		<div class="row">
			{% if error_msg %}
				<div class="alert alert-danger">{{error_msg}}</div>
			{% endif %}
			{% if success_msg %}
				<div class="alert alert-success">{{success_msg}}</div>
			{% endif %}
			{% if info_msg %}
				<div class="alert alert-info">{{info_msg}}</div>
			{% endif %}
		</div>
		<table class="table">
			<thead>
				<th>Team</th><th>League</th>
				<th class="pull-right">Pending Transactions</th>
				<th class="pull-right">Inbox</th>
				<th class="pull-right">Outbox</th>
			</thead>
			<tbody>
				{% for t in table %}
				<tr>
					<td>
						<a href="{% url 'trades:team' team.id %}">
							{{t.name}}
						</a>
					</td>
					<td>{{}}</td>
					<td>
						<a href="{% url 'trades:league' team.league.id %}">
							{{t.league.name}}
						</a>
					</td>
					<td class="pull-right">{{t.league.pending_trans_cnt}}</td>
					<td class="pull-right">{{t.trades_received.count }}</td>
					<td class="pull-right">{{t.trades_proposed.count }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="row padded-top">
			<a href="{% url 'account:new_league' %}">Create a New League</a>
		</div>
	</div>
{% endblock %}