{% extends "base.html" %}
{% block content %}
<div class="container">
	<p>
		We're importing each team's roster. Please wait until you see check marks next to every team before navigating away from the page.  If an import fails, just click the <i class="glyphicon glyphicon-repeat"></i> icon to try again. Yahoo can be uncooperative sometimes, so it might take a few retries in some cases.
	</p>
	<table class="table">
		<thead>
			<tr><th>Team</th><th>Imported</th></tr>
		</thead>
		<tbody>
			{% for team in league.team_set.all %}
			<tr class="team-row" data-id="{{team.id}}">
				<td>{{team.name}}</td>
				<td class="result"><i class="glyphicon glyphicon-unchecked"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<script type="text/javascript">
$(function() {
	$(".team-row").each(function() {
		var id = $(this).data('id');
		var result = $(this).children('.result');
		fill_roster(id, result);
	});
})

function fill_roster(id, result) {
	function handle_error(id, result) {
		result.children("i")
			.removeClass("glyphicon-unchecked")
			.addClass("glyphicon-repeat")
			.wrap('<a href="#"></a>')
			.before('<i class="glyphicon glyphicon-remove" style="margin-right:10px">')
			.click(function() {
				fill_roster(id, result);
			});
	}
	function handle_success(id, result) {
		result.find(".glyphicon-unchecked, .glyphicon-repeat")
			.removeClass("glyphicon-unchecked")
			.removeClass("glyphicon-repeat")
			.addClass("glyphicon-ok")
			.unwrap()
			.unbind('click');

		result.find(".glyphicon-remove").remove();
	}

	$.post("{% url 'account:fill_roster' %}",
	{
		team_id : id,
		access_token : "{{access_token}}"

	}).done(function(data) {
		data = JSON.parse(data);
		if (data.result == 'success') {
			handle_success(id, result);
		} else {
			handle_error(id, result);
		}
	}).fail(function(err) {
		handle_error(id, result);
	});
}
</script>
{% endblock %}
