{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<div class="container">
	<h1>New League</h1>
	<p>Enter your Yahoo league id in the field below. This can be found in your league settings page.</p>
	<img src="{% static 'images/league_id_example.png' %}"
	<form action="{% url 'account:import_league' %}" class="form-inline" role="form" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="sr-only" for="league_id">league id</label>
			<input type="text" name="league_id" class="form-control" id="league_id" placeholder="Enter League ID">
		</div>
		<input type="submit" class="btn btn-default" value="Import" />
	</form>
</div>
{% endblock %}