{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<div class="container">
	<h1>New League</h1>
	<p>Enter your Yahoo league id in the field below. This can be found in your league settings page.</p>
	<img src="{% static images/league_id_example.png %}" width="1000px" style="margin:20px 0 20px 0">
		<form action="{% url 'account:import_league' %}" class="form-inline" role="form" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="sr-only" for="league_id">league id</label>
			<input type="text" name="league_id" class="form-control" id="league_id" placeholder="Enter League ID">
		</div>
		<button type="submit" class="btn btn-primary">Import</button>
	</form>
</div>
{% endblock %}