{% extends "base.html" %}
{% load url from future %}

{% block content %}

<div class="container-fluid city-scape background-image">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 jumbotron title">
			<h1>Sign Up</h1>
			Provide an email address and pick a password. It's that easy.
		</div>
	</div>
	<div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4" >
		<form method="post" class="" action="{% url 'account:register' %}" role="form">
			{% csrf_token %}
				<input class="form-control" type="email" name="email" placeholder="Email"/>
				<input class="form-control" type="password" name="password" placeholder="Password"/>
				<input type="submit" value="Register" class="btn btn-primary form-control"/>
		</form>
	</div>
</div>

{% endblock %}
{% block navigation %}
{% endblock %}