
.double-table {
    width: 46%;
    float: left;
    margin-right: 4%;
}

.city-scape {
	background-image: url(/static/images/city-scape.jpg);
}

.day-city-scape {
    background-image: url(/static/images/day-city-scape.jpg);
}

.background-image {
    background-repeat: no-repeat;
    color: white;
    height: 945px;
    font-weight: 100;
}

.title {
	margin-top: 10%;
	text-align: center;
}

.jumbotron {
	background-color: inherit;
}

.form-control {
	margin-top: 2px;
}

.register-link {
    color: white;
    font-size: 25px;
    font-weight: 200;
}

.register-link:hover{
    color: white;
}

.padded-top {
    margin-top: 60px;
}

.footer {

    margin-top: 75px;
    color: #777;
    background-color: #101010;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  /* Set the fixed height of the footer here */
    height: 60px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
