{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid city-scape background-image">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 jumbotron title">
			<h1>Offseason</h1>
			The simple way to trade all year long.
		</div>
	</div>
	<div class="text-center col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4" >
		<a class="register-link" href="{% url 'account:login_yahoo' %}">
			<img src="{% static 'images/yahoo_sign_in_btn.png' %}" >
		</a>
	</div>
</div>

{% endblock %}
{% block navigation %}
{% endblock %}