{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="{% static 'scripts/jquery-2.1.1.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/jquery.cookie.js' %}"></script>

  <script type="text/javascript">
  function csrfSafeMethod(method) {
     // these HTTP methods do not require CSRF protection
     return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
   }
   $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      var csrftoken = $.cookie('csrftoken')
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
   </script>
   <link href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'style/base.css' %}" rel="stylesheet">

   {% block style %}
   {% endblock %}
   <title>
     {% block title %}
     Offseason
     {% endblock %}
   </title>
 </head>

 <body>
   {% block navigation %}
   <nav class="navbar navbar-inverse" role="navigation">
     <div class="container-fluid">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">Offseason</a>
       </div>

       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown">My Teams<span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
               {% for team in request.user.manager.team_set.all %}
               <li>
                 <a href="{% url 'trades:team' team.id %}">{{ team.name }}</a>
               </li>
               {% endfor %}
             </ul>
           </li>
           <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown">My Leagues<span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
               {% for team in request.user.manager.team_set.all %}
               <li><a href="{% url 'trades:league' team.league.id %}">{{ team.league.name }}</a></li>
               {% endfor %}
             </ul>
           </li>
           <li><a href="{% url 'trades:league_trans' %}">Transactions</a></li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trades<span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
               <li><a href="{% url 'trades:inbox' %}">Inbox</a></li>
               <li><a href="{% url 'trades:outbox' %}">Outbox</a></li>
               <li><a href="{% url 'trades:drafts' %}">Drafts</a></li>
               <li><a href="{% url 'trades:pending' %}">Pending</a><li>
                 <li><a href="{% url 'trades:my_trans' %}">My Transactions</a></li>
               </ul>
             </li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
           </ul>
         </div><!-- /.navbar-collapse -->
       </div><!-- /.container-fluid -->
     </nav>
     {% endblock %}
     <div class="content">
       {% block content %}{% endblock %}
     </div>
     {% block footer %}
     <div class="container-fluid footer">
       <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div>
              Created by <a href="http://www.twitter.com/b_jay_b">@b_jay_b</a>
            </div>
          </div>
          <div class="col-md-4">
            <div>Find a bug? Have a suggestion?</div>
            <div>Write to 
              <a href="mailto:brianjob3@gmail.com">brianjob3@gmail.com</a>
            </div>
          </div>
          <div class="col-md-4">
            <a href="http://www.twitter.com/offseason_app">@offseason_app</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
